<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Senhas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gerador de Senhas</h1>
        <form action="/gerar_senha" method="get">
            <label for="tamanho">Tamanho da Senha:</label>
            <input type="text" name="tamanho" id="tamanho" required>
            <button type="submit">Gerar Senha</button>
        </form>
    </div>
</body>
</html>
